[user]
    name = Ahmed Merza
    email = your-email@example.com

[init]
    defaultBranch = main

[core]
    editor = nvim
    excludesFile = ~/.config/git/ignore

[pull]
    rebase = true

[push]
    autoSetupRemote = true

[alias]
    st = status
    co = checkout
    br = branch
    ci = commit
    lg = log --oneline --graph --decorate --all
    unstage = reset HEAD --
    last = log -1 HEAD

[diff]
    colorMoved = default

[merge]
    conflictStyle = diff3
